<nav class="top-bar hide-for-small" data-topbar="">
  <ul class="title-area">
    <li class="name">
    <h1><a href="#">Sandcastle Investment Properties</a></h1>
    </li>
  </ul>
  <section class="top-bar-section">
    <ul class="right">
      <li><a href="/">Home</a></li>
    </ul>
  </section>
</nav>
<nav class="tab-bar show-for-small">
  <section class="left-small">
    <a class="left-off-canvas-toggle menu-icon"><span></span></a>
  </section>
  <section class="middle tab-bar-section">
    <h1 class="title">SIP</h1>
  </section>
</nav>

<aside class="left-off-canvas-menu">
  <ul class="off-canvas-list">
    <li><label>Navigation</label></li>
    <li><a href="/">Home</a></li>
  </ul>
</aside>
